.todo-list-item-label {
    display: block;
    width: calc(100% - (34px + 34px + 10px));
    overflow: hidden;
    transition: all 50ms ease;
    cursor: pointer;
}

.todo-list-item-label.complete {
    text-decoration: line-through;
}
.todo-list-item-label.important {
    color: rgb(5, 78, 78);
    font-weight: bold;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    margin: 1px 0;
}

.todo-list-item-buttons {
    display: flex;
    align-items: flex-start;
}

.todo-list-item-buttons button {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list-item-buttons button:last-child {
    margin-right: unset;
}