html {
    background-color: rgb(56, 56, 56);
}

#root {
    background-color: rgb(56, 56, 56);
}

/* div {
    background-color: rgb(56, 56, 56);
} */

/* button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} */