.app {
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}

.app-activities {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .app {
        max-width: 70%;
    } 
}

@media (max-width: 600px) {
    .app {
        max-width: 90%;
    } 
}

@media (max-width: 400px) {
    .app {
        max-width: 95%;
    } 
}