.app-header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.app-header {
    width: 50%;
    overflow: hidden;
    text-align: left;
    color: #fff
}

.app-header-status {
    text-align: end;
    width: 50%;
    color: rgb(160, 160, 160);
}